body
{
	background-color: #632432;
	font-family: Helvetiva;
}
table
{

	font-family: Helvetica;
	font-size: 18px;
	width: 100%;
	text-align: left;
	background-color: white;
	border-collapse: collapse;
}
th, td
{
	
	padding: 20px;
	
}
thead
{
	background-color: #246355;
	color: white;
	border-bottom: solid 5px #0F362D;
}
tr:nth-child(even)
{
	background-color: #ddd;
}
